*{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: rgb(245, 240, 240);
}
.container{
    background-color:white ;
    border:2px solid white;
    border-radius: 2px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);

}
.update-profile{
   position: fixed;
   margin:40px;
   margin-left: 320px;
   width:50%;
   padding:20px;
   background-color: white;
   text-align: center;
   border:2px solid white;
   border-radius: 2px;
   box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
   
}

.center{
   position: fixed;
   margin:150px;
   margin-left: 320px;
   width:50%;
   padding:20px;
   background-color: white;
   text-align: center;
   border:2px solid white;
   border-radius: 2px;
   box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
   
}
.user-info{
    display:inline;
    position:fixed;
    margin:40px;
    margin-left: 320px;
    width:50%;
    padding:20px;
    background-color: white;
    text-align: left;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}

h2{
    text-align: center;
    color:cadetblue;
    font-size: 30px;
}

.row{
    margin-left: 250px;
    margin-right: 250px;
}


#input{
    color: cadetblue;
}

.button {
    width: 180px;
    height: 38px;
    line-height: 35px;
	border: 2px solid rgb(68, 178, 197);
	color:white;
	background-color:rgb(68, 178, 197);
    margin: 25px auto 0;
    text-align: center;	
}

a:hover{
    border: rgb(99, 187, 214);   
}

#btn{
    background-color: #ffcc5c;
    border:#ffcc5c;
}

.back-btn{
    margin-left: 240px;
}

#btn-btn{
    background-color:  #ffef96;
    border: #ffef96;
}

#btn-btn-btn{
    background-color:#fefbd8;
    border:#fefbd8;
}

.users-table{
    width:90%;
    padding-left: 100px;
}

#head-tr{
    color: cadetblue;  
}

.far{
    font-size: 25px;
}

ul{
    list-style-type: square;
    color: rgb(65, 135, 168);
}